@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using mystore.ecommerce.dbcontext.Models
@model IEnumerable<Order>
@{

}

<h1>Shop</h1>
<p>@Model.Count()</p>
@foreach(var p in Model)
            {
<div class="col-md-3">
    <img src="~/img/" class="img-fluid"/>
    <h3>@p.OrderNumber</h3>
    <button>Buy</button>
</div>
            }
