<h3>Cart</h3>
<div>Count: {{ store.order.orderItems.length }}</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of store.order.orderItems">
            <td>
                <img src="/img/{{ item.product.imageName }}" class="img-fluid product-thumb"/>
            </td>
            <td>{{ item.product.productName }}</td>
            <td>{{ item.quantity }} </td>
            <td>{{ item.unitPrice | currency }}</td>
            <td>{{ item.unitPrice * item.quantity | currency }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"><strong> Subtotal: {{ store.order.subtotal | currency }}</strong></td>
        </tr>
    </tfoot>
</table>
<a class="btn btn-success" *ngIf="store.order.orderItems.length > 0" routerLink="checkout">Checkout</a>
<hr/>